<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096815867027-5duvedhcs8i2a6ca0r5pn3404udbab4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096815867027-5duvedhcs8i2a6ca0r5pn3404udbab4o</string>
	<key>API_KEY</key>
	<string>AIzaSyA-9RXlPb-ZTdr6pmpTlct8UuCMAyGCvio</string>
	<key>GCM_SENDER_ID</key>
	<string>1096815867027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productsApp</string>
	<key>PROJECT_ID</key>
	<string>products-c894f</string>
	<key>STORAGE_BUCKET</key>
	<string>products-c894f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096815867027:ios:3dfa7f82218baa05a80966</string>
</dict>
</plist>